gymnasium~=0.29.1
torch~=2.2.2
numpy~=1.26.4
pykan~=0.0.2
hydra-core~=1.3.2
tqdm~=4.66.2
hydra-joblib-launcher~=1.2.0
scikit-learn~=1.4.2
matplotlib~=3.8.4
tensorboard~=2.16.2
gymnasium[box2d, mujoco]
mujoco-py
huggingface_hub
huggingface_sb3
stable-baselines3
moviepy
rl-zoo3